.textbox{
    color:white;
    font-size: 32px;
    font-weight: 500;
    height:232px;
    padding-left: 32px;
    /* margin-left: 32px; */
}
.btn-lng{
width: Hug (56px)px;
height: Hug (40px)px;
padding: 8px 16px 8px 16px;
gap: 8px;
border-radius: 64px ;
opacity: 0px;


}
.whiteBox{
    margin: 0;
    height:600px;
   width:100%;
    background-color: #F3F1EF;
    border-radius:32px;
    padding-top: 8px;
    padding-left: 15px;
    
}
.boxfields{
    /* width:  296px;
    height:  72px; */
    padding: 24px 16px 24px 16px;
    gap: 4px;
    border-radius: 24px ;
    border: 1px ;
    opacity: 0px;
    background-color: #E5E2DE;
    /* margin:50px; */
    margin: 25px;;

}
.input-fields{
    padding: 24px 16px 24px 16px;
    border-radius: 24px ;
    border: 1px ;
    opacity: 0px;
    background-color: #E5E2DE;
    width:75%;
    margin: 25px;;
  }
.box-fl-txt{
    margin:24px;
    color: #746E6A;
}
.btn-nxt{
    width: 320px;
    height: 64px;
    padding-left: 20px;
    gap: 32px;
    border-radius: 32px;
    opacity: 0px;
    background-color: #4F285E;
    color:white;
    margin: 25px;
    font-size: 16px;
    font-weight: 600;

    

}
.dropdown-btn{
    display:flex;
    align-items: center;
    width:75%;
}
.dropdown-btn hr {
    flex: 1; 
    border: none; 
    border-top: 1px solid #ccc; 
    margin-left: 10px;
  }
  .label-txt{
    margin-left: 28px;
    margin-bottom: 0%;
    font-size: 16px;
    font-weight: 500;
    

  }
  .gender-fields{
    margin-left: 28px;
    display: flex;
    align-items: center;

  }
  .gender-fields label {
    margin-right: 30px; 
  }
  .DOB-fields{
    display: flex;
    align-items: center;
    
  }
  .state-ip-fld{
    text-decoration: none;
    border: none;
    background-color:#E5E2DE ;
    
  }
  .btn-location{
    display:flex;
    align-items: center;
    width:73%;
    height: Hug (56px)px;
    padding: 16px 10px 16px 40px;
    gap: 8px;
    border-radius: 20px 20px 20px 20px;
    opacity: 0px;
    background: #FFFFFF;
    box-shadow: 0px 6px 16px 0px #00000014;
 margin-left: 20px;
 
  }
  .btn-location-text {
    border: none;
    background: none;
    color: #110700;
    cursor: pointer;
    font-size: inherit;
    width: 100%;
}
  
  
  
  